// This file contains values that could be used in other files.

$sidenav-background: #1a202e !default; // Default color background lateral bar

$background: #1a202e !default;

$primary-text-size: 14px;

$primary-color: #2596be;

$secondary-color: #d0edf1;

$border-color: #ffffff;